@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Overpass', sans-serif;
  color: white;
}

body {
  padding: none;
}

.background {
  padding: 2em;
  background: #ff9500;
  background: -webkit-linear-gradient(#ff9500, #ff5e3a);
  background: -o-linear-gradient(#ff9500, #ff5e3a);
  background: -moz-linear-gradient(#ff9500, #ff5e3a);
  background: linear-gradient(#ff9500, #ff5e3a);
}

svg {
  text-align: center;
}

h1 {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: .25em;
  font-weight: bold;
  margin: 0;
  padding-bottom: 2em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: rgba(255,255,255,1);
}

a:hover {
  color: rgba(255,255,255,.8);
}

.link {
  border: 3px solid rgba(255,255,255,.8);
  border-radius: 6px;
  padding: .4em;
  display: inline-block;
}

.link:hover {
  border: 3px solid rgba(255,255,255,.6);
}

.border {
  border-top: 3px solid rgba(255,255,255,.5);
}

@media only screen and (min-width: 60em) {

  .border {
    border-left: 3px solid rgba(255,255,255,.5);
    border-top: none;
  }

}

