@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #ff9500;
  background: -webkit-linear-gradient(#ff9500, #ff5e3a);
  background: -o-linear-gradient(#ff9500, #ff5e3a);
  background: -moz-linear-gradient(#ff9500, #ff5e3a);
  background: linear-gradient(#ff9500, #ff5e3a);
  height: 100%;
  font-family: 'Overpass', sans-serif;
  padding: 2em;
  color: white;
}
h1 {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  text-align: center;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.target, a {
  color: rgba(255,255,255,.8);
}

.target:hover, a:hover {
  color: rgba(255,255,255,1);
}

.border {
  border-top: 3px solid rgba(255,255,255,.5);
}

@media only screen and (min-width: 60em) {

  .border {
    border-left: 3px solid rgba(255,255,255,.5);
    border-top: none;
  }

}

